html, body {
    @include Roboto(regular);
    height: 100%;
    width: 100%;
    margin: 0;
    font-size: 14px;
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
}
*,
*:before,
*:after {
    box-sizing: border-box;
    outline: none;
}
//turn off outline
:focus {
    outline:none;
}
::-moz-focus-inner {
    border:0;
}
a {
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
}
.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    background: $white;
    color: #0B4F6C;
}
.main {
    flex: 1 0 auto;
    display: flex;
}
.container {
    width: 100%;
    max-width: 1080px;
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    &--main {
        justify-content: center;
    }
}
