@font-face {
    font-family: 'Roboto';
    src: url('fonts/roboto-regular.woff2') format('woff2'),
         url('fonts/roboto-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Medium';
    src: url('fonts/roboto-medium.woff2') format('woff2'),
         url('fonts/roboto-medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@mixin Roboto($style) {
	@if $style == regular {
		font-family: "Roboto", sans-serif;
    }
    @if $style == medium {
		font-family: "Roboto Medium", sans-serif;
	}
}

  