.button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 70px;
    height: 70px;
    border: none;
    border-top: 1px solid $blue;
    border-right: 1px solid $blue;
    cursor: pointer;
    font-size: 1.5em;
    color: $blue;
    background: $white;
    &:active {
        background: radial-gradient(ellipse at center, rgba(179,220,237,0.16) 0%, rgba(41,184,229,0.57) 50%, rgba(134,187,216,0.98) 100%);
    }
    &--wide {
        width: 140px;
    }
    &--dark {
        background: darken($color: $white, $amount: 5);
    }
    &--extra {
        color: $white;
        position: relative;
        &:before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background: url('../images/icons/tree.png') center no-repeat, #ffb3b3;
        }
    }
    sup,
    sub {
        font-size: 12px;
        position: absolute;
    }
    sup {
        top: 25px;
        margin-left: 9px;
    }
    sub {
        top: 18px;
        left: 26px;
    }
}