.calc {
    max-width: 280px;
    box-shadow: 0px 2px 20px 1px #b3b3b3;
    position: relative;
    margin-bottom: 16px;
    &__display {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        height: 100px;
        width: 100%;
        background: #2795ee;
        padding: 0.25em;
        padding-left: 40px;
        font-size: 4em;
        color: #fff;
    }
    &__history {
        font-size: 16px;
        transform-origin: right;
        white-space: nowrap;
        max-width: 220px;
        overflow: hidden;
    }
    &__result {
        transform-origin: right;
        white-space: nowrap;
    }
    &__burger {
        position: absolute;
        top: 16px;
        left: 16px;
    }
    &__log {
        position: absolute;
        left: 16px;
    }
    &__menu {
        position: absolute;
        opacity: 0;
        visibility: hidden;
        left: -50%;
        top: 0;
        width: 50%;
        height: 100%;
    }
    &__panel {
        position: relative;
        display: flex;
        width: 100%;
    }
    &__digit-buttons {
        display: flex;
        flex-flow: row wrap-reverse;
    }
    &__button {
    }
    &__format-buttons {
        display: flex;
    }
    &__journal {
        position: absolute;
        top: 0;
        left: 0;
        visibility: hidden;
        opacity: 0;
        box-shadow: 4px 2px 12px 0px #b3b3b3;
    }
    &__operators-buttons {
        &--scientific {
            display: none;
        }
    }
    &--menu-open {
        .calc__menu {
            left: 0;
            opacity: 0.5;
            z-index: 9;
            visibility: visible;
            &:hover {
                opacity: 1;
            }
        }
    }
    &--journal-open {
      .calc__journal {
        top: 0;
        left: 100%;
        opacity: 1;
        visibility: visible;
      }
    }
    &--scientific {
        max-width: 350px;
        .calc {
            &__operators-buttons {
                &--scientific {
                    display: block;
                }
            }
        }
    }
}
@media (max-width: 576px) {
    .calc--scientific {
        max-width: 280px;
        .button {
            width: 56px;
            height: 56px;
            &--wide {
                width: 112px;
            }
            sup {
                top: 16px;
            }
        }
    }
}

@media (max-width: 768px) {
    .calc__journal {
        left: 0;
        top: 100px;
        height: calc(100% - 100px);
        box-shadow: none;
    }
    .calc--journal-open {
        .calc__journal {
            left: 0;
            top: 100px;
            height: calc(100% - 100px);
        }
    }
}